@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color-background: #1693a5;
    --color-header: #45b5c4;
    --color-sidebar: #7ececa;
    --color-main: #a0ded6;
    --color-component: #c7ede8;

    --color-border: #041d21;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
}

html {
    font-size: 16px;
    font-weight: 600;
}

body {
    background: linear-gradient(90deg, rgba(22, 147, 165, 1) 0%, rgba(199, 237, 232, 1) 100%);
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    overflow-x: hidden;
    color: black;
}
#app {
    height: 100vh;
    background-color: var(--bg-color);
}
